<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="maxPrintAttempts" value="4"/>
    <add key="ghostscriptgswin32cFullPath" value="C:\Program Files (x86)\gs\gs9.20\bin\gswin32c.exe"/>
    <add key="ghostscriptArguments"
         value="-sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dEmbedAllFonts=false  -dSubsetFonts=true -dCompressFonts=true -dPDFUseOldCMS=false -dPDFSETTINGS=/ebook -dOverrideICC -sProcessColorModel=DeviceGray -sColorConversionStrategy=Gray -dCompressPages=true -dNOPAUSE -c &quot;.setpdfwrite &lt;&lt;/AlwaysEmbed [ ]>> setdistillerparams&quot; -c &quot;.setpdfwrite &lt;&lt;/NeverEmbed [/Courier /Courier-Bold /Courier-Oblique /Courier-BoldOblique /Helvetica /Helvetica-Bold /Helvetica-Oblique /Helvetica-BoldOblique /Times-Roman /Times-Bold /Times-Italic /Times-BoldItalic /Symbol /Arial]>> setdistillerparams&quot;"/>
    <add key="ghostscriptTiffArguments"
         value="-sDEVICE=tiffg4 -dNOPAUSE -dQUIET -dBATCH  "/>
    <add key="faxServerName" value="VM-RR"/>
  </appSettings>
</configuration>