<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NautConnexxxxxxxxxctionString" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=naut;password=lims;persist security info=True;user id=LIMS&quot;" />
    <add name="NautConnectionString" connectionString="data source=naut;password=lims;persist security info=True;user id=LIMS" />
  </connectionStrings>
  <appSettings>
    <add key="InputPath" value="C:\ShipmentFiles\" />
    <add key="OuputPath" value="C:\ShipmentFiles\" />  


  </appSettings>
</configuration>